body {
  background: #f7f7f7;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

a,
ul,
li,
h1,
h2,
h3,
img div {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.bike {
  display: block;
  width: 100%;
}

.b1 {
  padding: 60px 40px;
  display: grid;
}

.conteudo {
  width: 1000px;
  margin: 60px auto;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vantagens {
  font-size: 60px;
  color: #c6c6c6;
  background: #f7f7f7;
  background-image: url(/img/onda.svg);
  text-align: right;
  align-content: center;
  /* align-self: center; */
}

.menu {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 60px;
}

.marca {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.flex a {
  display: inline-block;
  color: black;
  background: white;
  border-radius: 5px;
  padding: 15px 30px;
  text-transform: uppercase;
}

.title {
  font-size: 35px;
  text-align: right;
  position: relative;
}

.p {
  font-size: 20px;
  text-align: right;
}

.btn {
  color: white;
  background: red;
  padding: 15px 30px;
  justify-self: end;
}

.item {
  padding: 30px;
}

.itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 20px;
  padding: 20px;
  border-radius: 8px;
}

.itens h3 {
  font-size: 20px;
}

.itens p {
  grid-column: 2;
  font-size: 15px;
}

.title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 90px;
  right: -85px;
  bottom: 80px;
  background: red;
}

.itens:nth-child(odd) {
  background: #f7f7f7;
}
