body {
  background: #f7f7f7;
  font-family: Arial;
  margin: 0px;
  padding: 0px;
}

a,
ul,
li,
h1,
h2,
h3,
img div {
  text-decoration: none;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.bike {
  display: block;
  max-width: 100%;
}

.b1 {
  padding: 50px 40px;
  display: block;
  text-align: end;
  gap: 10px;
}

.btn {
  color: white;
  background: red;
  padding: 10px 20px;
  /* justify-self: end; */
}

.conteudo {
  width: 1000px;
  margin: 60px auto;
  background: #ffffff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.vant {
  display: grid;
  font-size: 70px;
  padding: 30px;
  color: #c6c6c6;
  background: #f7f7f7;
  text-align: right;
  align-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  gap: 60px;
}

.logo {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.menu-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.menu-flex a {
  display: inline-block;
  color: black;
  background: white;
  border-radius: 5px;
  padding: 15px 30px;
  text-transform: uppercase;
  border: 2px solid transparent;
}

.menu-flex a:hover {
  border: solid 2px red;
}

.title {
  font-size: 35px;
  text-align: right;
  position: relative;
}

.texto {
  font-size: 20px;
  text-align: right;
}

.item {
  padding: 30px;
}

.itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0px 20px;
  padding: 20px;
  border-radius: 8px;
}

.itens h3 {
  font-size: 20px;
}

.itens p {
  grid-column: 2;
  font-size: 15px;
}

.title::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 70px;
  right: -75px;
  bottom: 50px;
  background: red;
}

.itens:nth-child(odd) {
  background: #f7f7f7;
}
